<div class="show_piece">
	<div class="title">
		<%= @piece.title %>
	</div>
	<div class="date">
		<%= @piece.date.strftime('%B, %Y') %>
	</div>
	<div class="first_image images">
		<%= image_tag @piece.piece_images.first.image.large %>
	</div>
	<div class="description">
		<%= simple_format @piece.description %>
	</div>
	<div class="images">
		<% @piece.piece_images.drop(1).each do |image| %>
			<%= image_tag image.image.large %>
		<% end %>
	</div>
</div>