<div class="show_piece">
	<div class="title">
		<%= @piece.title %>
	</div>
	<div class="date">
		<%= @piece.date.strftime('%B, %Y') %>
	</div>
	<div class="first_image images">
		<%= render :partial => "show_piece_image", :locals => { :image => @piece.piece_images.ordered.first.image } %>
	</div>
	<div class="description">
		<%= simple_format @piece.description %>
	</div>
	<div class="images">
		<% @piece.piece_images.ordered.drop(1).each do |piece_image| %>
			<%= render :partial => "show_piece_image", :locals => { :image => piece_image.image } %>
		<% end %>
	</div>
</div>