<!DOCTYPE html>
<html>
<head>
  <title>Ferris Americus</title>

  <%= favicon_link_tag '/assets/favicon.ico' %>

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Codystar" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
	<div class="flash_error"><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
	<div class="flash_error"><%= flash[:alert] %></div>
<% end %>

<h1 id="ferris_americus">FERRIS AMERICUS</h1>

<%= yield %>

</body>
</html>
